<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>icon_mi_01</key>
<dict>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{154,158}</string>
<key>spriteSourceSize</key>
<string>{190,190}</string>
<key>textureRect</key>
<string>{{0,0},{154,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_mi_02</key>
<dict>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{154,158}</string>
<key>spriteSourceSize</key>
<string>{190,190}</string>
<key>textureRect</key>
<string>{{156,0},{154,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_mi_04</key>
<dict>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{154,158}</string>
<key>spriteSourceSize</key>
<string>{190,190}</string>
<key>textureRect</key>
<string>{{312,0},{154,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_mi_exp</key>
<dict>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{154,158}</string>
<key>spriteSourceSize</key>
<string>{190,190}</string>
<key>textureRect</key>
<string>{{468,0},{154,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_mi_03</key>
<dict>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{154,158}</string>
<key>spriteSourceSize</key>
<string>{190,190}</string>
<key>textureRect</key>
<string>{{624,0},{154,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_pig_chuizi</key>
<dict>
<key>spriteOffset</key>
<string>{3,-6}</string>
<key>spriteSize</key>
<string>{137,126}</string>
<key>spriteSourceSize</key>
<string>{150,150}</string>
<key>textureRect</key>
<string>{{780,0},{137,126}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_sp_mz</key>
<dict>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{118,116}</string>
<key>spriteSourceSize</key>
<string>{120,120}</string>
<key>textureRect</key>
<string>{{908,0},{118,116}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_qlz</key>
<dict>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{96,98}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{908,120},{96,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_qlz2</key>
<dict>
<key>spriteOffset</key>
<string>{-2,1}</string>
<key>spriteSize</key>
<string>{96,98}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{780,139},{96,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_fenchen</key>
<dict>
<key>spriteOffset</key>
<string>{0,2}</string>
<key>spriteSize</key>
<string>{94,97}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{0,160},{94,97}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_zz_big</key>
<dict>
<key>spriteOffset</key>
<string>{3,-1}</string>
<key>spriteSize</key>
<string>{93,98}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{99,160},{93,98}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_yqh02</key>
<dict>
<key>spriteOffset</key>
<string>{-2,-5}</string>
<key>spriteSize</key>
<string>{94,90}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{199,160},{94,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_egg</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{291,160},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_nianshou2</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{383,160},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_box_nianshou</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{475,160},{90,90}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_mz_xl</key>
<dict>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{90,89}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{567,160},{90,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_box_nianshou2</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,89}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{658,160},{90,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_dtboss</key>
<dict>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{90,89}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{880,218},{90,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_yqh01</key>
<dict>
<key>spriteOffset</key>
<string>{-2,-4}</string>
<key>spriteSize</key>
<string>{92,88}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{749,237},{92,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_mz_fj</key>
<dict>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{90,88}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{291,252},{90,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_xhcb</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{89,88}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{383,252},{89,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_bsd_lb</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{87,92}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{474,252},{87,92}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_gift_ss</key>
<dict>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{87,88}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{568,252},{87,88}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_jinqiu</key>
<dict>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{86,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{657,252},{86,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_bsdjf</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,84}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{0,256},{90,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_gift_lg</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{84,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{92,256},{84,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_cxj</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{84,90}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{184,256},{84,90}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lgb</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{89,84}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{843,309},{89,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_ten</key>
<dict>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{84,86}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{934,309},{84,86}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_gift_hd</key>
<dict>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{84,85}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{749,327},{84,85}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_hs_sp</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{84,84}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{657,340},{84,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_nianshou</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{90,83}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{474,341},{90,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_gift_olo</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{87,83}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{566,342},{87,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_ten_sjb</key>
<dict>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{84,83}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{0,342},{84,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_mz_sj</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{82,83}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{86,342},{82,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_qixi_cd</key>
<dict>
<key>spriteOffset</key>
<string>{1,1}</string>
<key>spriteSize</key>
<string>{81,89}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{170,342},{81,89}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_xz_gq</key>
<dict>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{85,81}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{261,342},{85,81}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dzzgq_sjb</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{85,80}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{348,342},{85,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_duanwu_zz</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{84,80}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{836,395},{84,80}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dzzgq_gq</key>
<dict>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{90,79}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{922,395},{90,79}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dxr</key>
<dict>
<key>spriteOffset</key>
<string>{6,-1}</string>
<key>spriteSize</key>
<string>{79,87}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{743,413},{79,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_shaizi</key>
<dict>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{79,81}</string>
<key>spriteSourceSize</key>
<string>{94,94}</string>
<key>textureRect</key>
<string>{{348,424},{79,81}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_lgsy</key>
<dict>
<key>spriteOffset</key>
<string>{0,6}</string>
<key>spriteSize</key>
<string>{83,78}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{170,425},{83,78}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_jinglv</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{89,77}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{431,426},{89,77}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_thdlb_gq</key>
<dict>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{77,80}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{655,426},{77,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_dzz_gq</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,76}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{522,427},{90,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dzz_znq</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{90,76}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{0,427},{90,76}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fxs_gq</key>
<dict>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{76,84}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{255,425},{76,84}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_jjq_gq</key>
<dict>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{76,84}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{92,427},{76,84}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_jjhz2</key>
<dict>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{75,88}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{922,476},{75,88}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_jjhz</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{75,87}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{832,477},{75,87}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_cxjjq</key>
<dict>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{75,75}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{737,494},{75,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_pkzhihun</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-3}</string>
<key>spriteSize</key>
<string>{74,78}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{255,503},{74,78}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_gift_yyc</key>
<dict>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{77,74}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{170,505},{77,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_sh</key>
<dict>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{77,74}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{0,505},{77,74}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dzzgq_cj</key>
<dict>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{90,73}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{335,505},{90,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_gift_friend</key>
<dict>
<key>spriteOffset</key>
<string>{3,-3}</string>
<key>spriteSize</key>
<string>{80,73}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{427,505},{80,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_gift_jfgb</key>
<dict>
<key>spriteOffset</key>
<string>{2,-3}</string>
<key>spriteSize</key>
<string>{78,73}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{509,505},{78,73}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_gh_laba</key>
<dict>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{82,72}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{589,505},{82,72}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_ns_bx3</key>
<dict>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{84,71}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{79,513},{84,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_ns_bx4</key>
<dict>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{84,71}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{921,553},{84,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_gift_xyd</key>
<dict>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{76,71}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{814,554},{76,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_yuebing</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{71,76}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{673,571},{71,76}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_laba</key>
<dict>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{73,71}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{589,579},{73,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>jb_mj</key>
<dict>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{72,71}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{249,579},{72,71}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_zz_small</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{91,70}</string>
<key>spriteSourceSize</key>
<string>{100,100}</string>
<key>textureRect</key>
<string>{{323,580},{91,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_dzzgq_sd</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{90,70}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{416,580},{90,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_gift_time</key>
<dict>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{77,70}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{508,580},{77,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_gift_vip</key>
<dict>
<key>spriteOffset</key>
<string>{2,-1}</string>
<key>spriteSize</key>
<string>{78,69}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{165,581},{78,69}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fk_02</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{68,80}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{0,586},{68,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_fk_01</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{68,80}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{82,586},{68,80}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_ns_hb4</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{68,74}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{892,626},{68,74}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_gift_normal</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-1}</string>
<key>spriteSize</key>
<string>{72,68}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{751,627},{72,68}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_fk_04</key>
<dict>
<key>spriteOffset</key>
<string>{0,1}</string>
<key>spriteSize</key>
<string>{67,83}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{664,644},{67,83}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_fk_03</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{67,82}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{164,652},{67,82}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_ns_bx2</key>
<dict>
<key>spriteOffset</key>
<string>{0,-5}</string>
<key>spriteSize</key>
<string>{81,67}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{248,652},{81,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_yqh_exp</key>
<dict>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{76,65}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{825,627},{76,65}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_ns_hb2</key>
<dict>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{65,72}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{331,652},{65,72}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_ns_bx1</key>
<dict>
<key>spriteOffset</key>
<string>{0,-6}</string>
<key>spriteSize</key>
<string>{77,64}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{405,652},{77,64}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_ns_hb3</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{64,71}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{484,652},{64,71}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>ban_icon_zglb</key>
<dict>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{71,61}</string>
<key>spriteSourceSize</key>
<string>{72,72}</string>
<key>textureRect</key>
<string>{{0,656},{71,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_hbs</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{57,75}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{73,656},{57,75}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>icon_ns_hb1</key>
<dict>
<key>spriteOffset</key>
<string>{1,-5}</string>
<key>spriteSize</key>
<string>{55,67}</string>
<key>spriteSourceSize</key>
<string>{84,84}</string>
<key>textureRect</key>
<string>{{557,652},{55,67}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>icon_znq</key>
<dict>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{77,54}</string>
<key>spriteSourceSize</key>
<string>{90,90}</string>
<key>textureRect</key>
<string>{{968,626},{77,54}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>icon.png</string>
<key>textureFileName</key>
<string>icon.png</string>
<key>size</key>
<string>{1024,719}</string>
</dict>
</dict>
</plist>
